html{
    background-color: #272757;
}

body{
    color: #ffffff;
    padding: 50px;
    background: url('/images/header.png'),
                url('/images/footer.png');
    background-repeat: no-repeat;
    background-size: 1650px;
}

.sora{
    font-family: "Sora", serif;
    font-weight: 600;
    font-style: normal;
  }

.glaceon{
    filter: hue-rotate(70deg)    
  }

.filter{
    filter: hue-rotate(70deg);
}

.phone{
    filter: hue-rotate(270deg);
}

.face{
    filter: hue-rotate(50deg);
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');